.example-card {
  max-width: 100%;
  margin: 30px;
}
.tweetText{
  text-align: left;
  padding-left: 20px;
}
hr.falseNews{
  border:3px solid red;
}

hr.trueNews{
  border:3px solid green;
}
.header{
  text-align: center;
}
::ng-deep .mat-card-header-text{
  width: 100%;
}
.subtitles{
  display: flex;
  align-items: flex-end;
  width: 100%;
}
.separator{
  flex-grow: 1;
}
