<mat-toolbar color="primary">
  <mat-toolbar-row>
    <span>Fake News</span>
  </mat-toolbar-row>
</mat-toolbar>

<h2 style="margin-left:20px;">Results</h2>
<div style="display: inline-block; width: 100%;">
  <canvas baseChart
              [data]="chartData"
              [labels]="chartLabels"
              [chartType]="chartType"></canvas>
</div>


<div *ngFor="let tweet of tweets">
  <div>
    <mat-card class="example-card">
      <mat-card-header>
        <mat-card-title>Score: {{ tweet.score }}</mat-card-title>
        <mat-card-subtitle>
          <div class="subtitles">
            <div class="details">
              <p>Retweet count: {{ tweet.retweet_count }}</p>
              <p *ngIf="tweet.entities.hashtags[0].text != ''">
                <span *ngFor="let hashtag of tweet.entities.hashtags">
                  #{{ hashtag.text }}</span
                >
              </p>
            </div>
            <div class="separator">

            </div>
            <div class="user">
              <p>{{ tweet.user.name }} ({{ tweet.user.screen_name }})</p>
              <p [innerHtml]="tweet.source"> </p>
            </div>
          </div>
        </mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>
        <p class="tweetText">{{ tweet.text }}</p>
        <hr [ngClass]="tweet.score < 0.5 ? 'falseNews' : 'trueNews'" />
      </mat-card-content>
    </mat-card>
  </div>
</div>
<router-outlet></router-outlet>
